body {
	background-color: #222831;
	color: #FFFFFF;
}
h1,h2, h4{
	color: white;
}

div
{
	background-color: #222831;
	border: 3px solid #F0D43A;
	border-radius: 15px;
}

#canvas{
	margin: 20px;
	background-color: white;
	cursor: crosshair;
	border: solid 0px orange;
	border-radius: 5px;
}

#back {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0px;
	margin: 5px;
	top: 10px;
	left: 10px;
	width: auto;
	height: auto;
	font-size: 30px;
	background-color: #00adb5;
	text-decoration: "none";
	color: #222831;
	border: 3px solid black;
  }

button
{
  background-color: #F0D43A;
  color: black;
  font-weight: bold;
  border: 1px solid white;
  border-radius: 10px;
  transition: all 0.3s ease;
}

button:hover
{
  background-color: red ;
  background: yellow ;
  transform: scale(1.2);
}

 button:active
{
	transform: scale(0.8);
	background-color: red;
}

input {
	width: 300px;
	padding: 12px 20px;
	margin: 8px 0;
	box-sizing: border-box;
	border: 2px solid #ccc;
	border-radius: 4px;
  }
  
input:focus {
	border: 2px solid #555;
  }

textarea {
	width: 400px;
	height: 150px;
	padding: 12px 20px;
	box-sizing: border-box;
	border: 2px solid #ccc;
	border-radius: 4px;
	background-color: #f8f8f8;
	font-size: 16px;
	resize: none;
}
  
textarea:focus {
	border: 2px solid #555;
	background-color: #fff;
}

#informative_title{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
}

#container_all_content{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
}

#container_paramaters{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

#back {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0px;
	margin: 5px;
	top: 10px;
	left: 10px;
	font-size: 30px;
	background-color: #00adb5;
	text-decoration: "none";
	color: #222831;
	border: 3px solid black;
  }