body {
	background-color: #222831;
	color: #FFFFFF;
}
h1,h2{
	color: blue;
}

div
{
	background-color: #222831;
	border: 3px solid #F0D43A;
	border-radius: 15px;
}

#canvas{
	margin: 20px;
	background-color: white;
	cursor: crosshair;
	border: solid 0px orange;
	border-radius: 5px;
}

#canvas :last-child
{
	
	position: absolute;
	top: 200px;
	left: 200px;

}
#meldinger {
	border: solid 2px orange;
	border-radius: 5px;
}

button
{
  background-color: #F0D43A;
  color: black;
  font-weight: bold;
  border: 1px solid white;
  border-radius: 10px;
  transition: all 0.3s ease;
}

button:hover
{
  background-color: red ;
  background: yellow ;
  transform: scale(1.2);
}

 button:active
{
	transform: scale(0.8);
	background-color: red;
}


input {
	width: 300px;
	padding: 12px 20px;
	margin: 8px 0;
	box-sizing: border-box;
	border: 2px solid #ccc;
	border-radius: 4px;
  }
  
input:focus {
	border: 2px solid #555;
  }

textarea {
	width: 400px;
	height: 150px;
	padding: 12px 20px;
	box-sizing: border-box;
	border: 2px solid #ccc;
	border-radius: 4px;
	background-color: #f8f8f8;
	font-size: 16px;
	resize: none;
}
  
textarea:focus {
	border: 2px solid #555;
	background-color: #fff;
}